<!-- <app-recipe-item></app-recipe-item> -->
<div class="row">
  <div class="col-xs-6 ml-4">
    <button class='btn btn-primary'>New Recipe</button>
  </div>
  <div class="col-xs-6"></div>
</div>
<!-- <div class="row my-4" *ngFor="let recipe of recipes">
  <div class="col-6 mr-auto">
    <h4>{{ recipe.name }}</h4>
    <p>{{ recipe.description }}</p>
  </div>
  <div class="col-6 ml-auto">
    <img class="img-thumbnail" [src]="recipe.imagePath">
  </div>
</div> -->
<div *ngFor="let recipe of recipes" class="border border-primary rounded mx-2 my-4 p-2" style="background-color: #e3f2fd;">
  <a href="#">
    <div class="row my-4">
      <div class="col-6">
        <h4>{{ recipe.name }}</h4>
        <p>{{ recipe.description }}</p>
      </div>
      <div class="col-6">
        <img class="img-thumbnail" [src]="recipe.imagePath">
      </div>
    </div>
  </a>
</div>




